section.container-menu {
  position: absolute;
  top: 20px;
  right: 10%;

  font-weight: bold;

  display: flex;
  align-items: center;
}

section.container-menu a {
  text-decoration: none;
}

section.container-menu .social {
  margin-right: 14px;
  display: flex;
  align-items: center;
}

section.container-menu .menu-item {
  color: #333;
  background: #fff;
  border-radius: 4px;
  padding: 12px 14px;

  margin-right: 14px;
}

@media (max-width: 430px) {
  section.container-menu {
    right: auto;
    left: auto;
  }
}